services:
  db:
    image: mysql:8.0
    container_name: teddy_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: teddy
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 5s
      timeout: 3s
      retries: 10

  api:
    build: .
    container_name: teddy_api
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: mysql://root:root@db:3306/teddy
    command: npm run start:dev
