services:
  api:
    build: .
    container_name: teddy_api
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
    command: npm run start:dev

  db:
    image: mysql:8.0
    container_name: teddy_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: teddy
